/* 
    Document   : style
    Created on : Dec 17, 2015, 9:21:53 AM
    Author     : lejon
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/**{
    margin: 0;
    padding: 0;
}
body{
   
}
#wrapper{
    background-color: #482085;height: 1000px;width: 100%;margin: 0 auto;
}
header{
    width: 100%;
    height:auto;
    background-color:  #076565;
    
}
header .logo{
    
    float: left;
    width: 15%;
    height: auto;
    background-color:  yellow;
    
}
header .logo img{
    width: 195px;
    height: 150px;
    
}
header .banner{
    float: left;
    width:55%;
    height: auto;
    background: linear-gradient(top,buttonshadow 0%,  #3366ff 50%, buttonshadow 150%);
        background: -moz-linear-gradient(top,buttonshadow 0%,  #3366ff 50%, buttonshadow 150%);
            background: -webkit-linear-gradient(top,buttonshadow 0%,  #3366ff 50%, buttonshadow 150%);
                background: -o-linear-gradient(top,buttonshadow 0%,  #3366ff 50%, buttonshadow 150%);
}
header .banner h1,h2,h3,h4{
    text-align: center;
    font-family: cursive;
    font-style: inherit;
    font-weight:  bold;
    color: black;
    letter-spacing: 2px;
    
}
header.abc{
    float: left;
    background-color: red;
    height: auto;
    width: 30%;
}*/